@model Labfinal213052.Models.patient

@{
    ViewData["Title"] = "patcreate";
}

<h1>patcreate</h1>

<h4>patient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="patcreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
